@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

html,
body {
	@apply bg-zinc-900;
}

@theme {
	--font-sans: 'Inter', sans-serif;
}

body {
	font-family: 'Inter', sans-serif;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-timing-function: ease;
	mix-blend-mode: normal;
}

::view-transition-old(root) {
	animation-name: fade-out;
	transform-origin: center;
}

::view-transition-new(root) {
	animation-name: fade-in;
	animation-delay: 0.25s;
	transform-origin: center;
}

@keyframes fade-out {
	from {
		opacity: 1;
		transform: scale(1) translateY(0);
	}

	to {
		opacity: 0;
		transform: scale(0.98) translateY(8px);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(0.98) translateY(8px);
	}

	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

@theme {
	--color-primary: #d20b2e;
	--color-primary-dark: #970823;
}
